{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>esqueci minha senha</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="shortcut icon" href="{% static 'media/icons/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="django-message__div">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
    <button><a href="{% url 'main' %}">voltar</a></button>
    {% endif %}

    <div id="form__div">
        <form action="{% url 'forgot_password' %}" method="POST"> {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }} <!-- input id: "email__input" -->
            {% if form.email.errors %}
                <div class="form-error">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" id="submit-button">Enviar email</button>
        </form>
    </div>

    <script src="{% static 'js/auth.js' %}"></script>
    
</body>
</html>