{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <title>login</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6701534999211145"
     crossorigin="anonymous"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="django-message__div">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <button><a href="{% url 'main' %}">voltar</a></button>

    <div>
        <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
            <input type="text" placeholder="Digite seu nome" name="username">
            <input type="password" placeholder="Digite sua senha" name="password">
            
            <button type="submit">logar</button>
        </form>
        
        {% if messages %}
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
    
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


</body>
</html>