{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="shortcut icon" href="{% static 'media/icons/favicon.ico' %}" type="image/x-icon">
    <title>login</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6701534999211145"
     crossorigin="anonymous"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="django-message__div-auth">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <button><a href="{% url 'main' %}">voltar</a></button>
    {% endif %}

    <div id="form__div">
        <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
            {{ form.username.label_tag }} 
            {{ form.username }} <!-- label id: "username__input"-->
            {% if form.username.errors %}
            <div class="form-error">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {{ form.password.label_tag }}
            {{ form.password }}  <!-- label id: "password__input"-->
            {% if form.username.errors %}
            <div class="form-error">
                {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <span class="span__area" ><span><a href="{% url 'forgot_password' %}">Esqueceu sua senha?</a></span><span>Sem conta? <a href="{% url 'register' %}">Cadastre-se</a></span></span>
            <button type="submit" id="submit-button">logar</button>
        </form>
        
    </div>
    
    <script src="{% static 'js/auth.js' %}"></script>


</body>
</html>