.transition-window__area {
  background-color: black;
  width: 100svw;
  height: 100svh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-size: 20px;
  font-family: Arial;
  font-weight: bolder;
  color: green;
}

.transition-window__top {
  transform: translateY(150svh);
  animation: descend 5s ease forwards;
}

.transition-window__bottom {
  transform: translateY(-150svh);
  animation: ascend 5s ease forwards;
}


.transition-window__reverse {
  animation-direction: reverse;
}

@keyframes ascend {
  50% {
    transform: translateY(0svh);
  }
  
  100% {
    transform: translateY(0svh);
  }
}

@keyframes descend {
  50% {
    transform: translateY(0svh);
  }
  
  100% {
    transform: translateY(0svh);
  }
}