body {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100svw;
    height: 100svh;
}

#form__div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    max-height: 80%;
    height: 80%;
    padding: 35px;
    border-radius: 11px;
    background-color: white;
    flex-direction: row;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
}

form {
    display: flex;
    width: 80%;
    height: 80%;
    gap: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span__area {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    color: black;
    padding: 15px;
}

form button {
    display: block;
    margin-top: .9rem;
    width: 80%;
    padding: 0.8rem;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #3d75b4;

}

form input {
    width: 75%;
    padding: 1rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    font-size: 1rem;
    outline: none;
}

label {
    color: black;
}

.form-error {
    color: red;
}

.django-message__div-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 18px;
    width: 20svw;
    height: 10svh;
    position: fixed;
    z-index: 990;
    color: black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-10vh) translateX(0);
    transition: opacity 1s ease, transform 1s ease;
    top: 0px;
}

.django-message__div-animation-auth {
  opacity: 1;
  transform: translateY(0) translateX(0);
}

.hidden-auth {
  opacity: 0;
  transform: translateY(-10vh) translateX(0);
  pointer-events: none;
}