body {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100svw;
    height: 100svh;
}

#form__div {
    display: flex;
    min-width: 40%;
    max-height: 50%;
    height: 50%;
    padding: 35px;
    border-radius: 11px;
    background-color: white;
    flex-direction: row;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.span__area {
    display: flex;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    color: black;
    padding: 15px;
}

form button {
    display: block;
    margin-top: .9rem;
    width: 100%;
    padding: 0.8rem;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #3d75b4;

}

form input {
    width: 75%;
    padding: 1rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    font-size: 1rem;
    outline: none;
}

label {
    color: black;
}

.form-error {
    color: red;
}