<!--Teste-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>head</h1>
        <input id="head_input" type="text" placeholder="Verifique se um jogador existe">
        <button id="head_button" onclick="head_()">verificar</button>
        <p id="head_result"></p>
    </div>

    <div>
        <h1>get</h1>
        <input id="get_input" type="text" placeholder="Digite o nome do jogador">
        <button id="get_button" onclick="get()">pegar</button>
        <p id="get_result"></p>
    </div>

    <div>
        <h1>post</h1>
        <input id="post_input" type="text" placeholder="Digite o nome do jogador">
        <button id="post_button" onclick="post()">lançar para o banco</button>
        <p id="post_result"></p>
    </div>

    <div>
        <h1>put</h1>
        <input id="put_input" type="text" placeholder="Digite o novo level">
        <input id="put_input_name" type="text" placeholder="Digite o nome do jogador">
        <button id="put_button" onclick="put()">atualizar level</button>
        <p id="put_result"></p>
    </div>


    <script>
        // head
        async function head_() {
            const nome = document.getElementById("head_input").value
            result = await fetch(`http://127.0.0.1:8000/api/?name=${encodeURIComponent(nome)}`, {method: "HEAD"})

            head_result = document.getElementById("head_result")

            if (result.status === 200) {
                head_result.innerText = "jogador encontrado"
                
            } else {
                head_result.innerText = "nenhum player encontrado"
            }
        }

        // get
        async function get() {
            const name = document.getElementById("get_input").value
            result = await fetch(`http://127.0.0.1:8000/api/?name=${encodeURIComponent(name)}`).then(res => res.json())
            get_result = document.getElementById("get_result")

            if (result.length === 0) {
                get_result.innerText = "nenhum player encontrado"
            } else {
                get_result.innerText = JSON.stringify(result)
            }
        }

        // post
        async function post() {
            const nome = document.getElementById("post_input").value

            fetch("http://127.0.0.1:8000/api/", { // adiciona um player
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    // dados do jogador
                  name: nome,
                })
              })
              .then(async res => {
                if (!res.ok) {  // res.ok da true se a resposta for 200 ou 209
                    alert("Erro: Nome já em uso!");

                } else {
                  const data = await res.json();
                  post_result = document.getElementById("post_result")
                  post_result.innerText = `Player criado com sucesso: {data}`;
                }
              });
        }

        // put
        async function put() {
            // supondo que não tenha os dados
            const nome = document.getElementById("put_input_name").value

            dados = await fetch(`http://127.0.0.1:8000/api/?name=${encodeURIComponent(nome)}`).then(res => res.json());

            // uso do put
            const atk = document.getElementById("put_input").value
            
            console.log(dados)

            fetch("http://127.0.0.1:8000/api/", {
                method: "PUT",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify({
                    id: dados.id,
                    name: nome,
                    atk: atk,
                })
              })
              .then(async res => {
                put_result = document.getElementById("put_result")
                put_result.innerText = JSON.stringify(dados)

              });
        }
    </script>
</body>
</html>