{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title></title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="shortcut icon" href="{% static 'media/icons/favicon.ico' %}" type="image/x-icon">
    
    <script async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6701534999211145"
    crossorigin="anonymous"></script>
</head>
<body>
    {% if not user.is_superuser %}
        <div id="modal__"></div>
        <div id="modal">
            <h1>lançamento: 01/06/2025</h1>
            <button id="login_button" class="sing-up__button"><a href="{% url 'login' %}">Login</a></button>
            <button id="register_button" class="sing-up__button"><a href="{% url 'register' %}">Cadastrar</a></button>
        </div>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="django-message__div">{{ message }}</div>
        {% endfor %}
    {% endif %}
    
    <div id="root">
        <header>
            <div>
                {% if user.is_authenticated %}
                <div class="stats-player__area">
                    <button id="logout_button" class="sing-up"><a href="{% url 'logout' %}" onclick="localStorage.removeItem('player')">logout</a></button>
                    <p>nome: {{ username }}</p>
                    <div id="status__div"></div>

                    <button id="show-status">...</button>


                </div>

                {% else %}
                <div class="stats-player__area">
                    <button id="login_button" class="sing-up__button"><a href="{% url 'login' %}">Login</a></button>
                    <button id="register_button" class="sing-up__button"><a href="{% url 'register' %}">Cadastrar</a></button>
                </div>
                {% endif %}
            </div>
        </header>
        <main>
            <div class="battle-stats__area">
                <div id="monster-header__div">
                    <div class="monster__name">
                    NAME
                    </div>
                    <div class="hp__bar">
                    <progress max="100" value="100" id="monster-hp__bar"></progress>
                    </div>
                </div>
                <div class="monster__area">
                    <img alt="MonsterPNG" id="monster__image">
                    <div class="atack-animation__area">
                        <p class="damage-letter">OI</p>
                    </div>
                </div>
            </div>
            
            <div class="opt-player__area">
                <div id="fight_option" class="options opt-manager">
                    FIGHT
                </div>
    
                <div id="speel_option" class="options opt-manager">
                    SPEELS
                </div>
    
                <div id="item_option" class="options opt-manager">
                    ITEMS
                </div>
    
                <div id="run_option" class="options opt-manager">
                    RUN
                </div>
            </div>

                        
        </main>
        <footer>
            <div>
                <p>&copy; <a href="https://github.com/fjoao9744" class="copy">João F.</a> & <a href="https://github.com/HendrickReis" class="copy">Smogon</a></p>
            </div>


<button id="toggleSidebar" class="toggle-button">CHAT</button>
            <div id="chatdiv" class="sidebar">

                  <div class="close-sidebararea">
                    <div class="log-sidebar">LOG</div>
                    <div class="chat-sidebar">CHAT</div>
                    <button id="close-sidebar">X</button>
                 </div>


                <div class="text-sidebar__area">
                </div>

            </div>
        </footer>
    </div>
    
    <script>
        const username = "{{ username|escapejs }}";
    </script>
    <script src="{% static 'js/utils.js' %}"></script> <!-- funções globais -->
    <script src="{% static 'js/api_utils.js' %}"></script> <!-- api -->
    <script src="{% static 'js/player_utils.js' %}"></script> <!-- visuais do jogador -->
    <script src="{% static 'js/player_init.js' %}"></script> <!-- inicia o jogador -->
    <script src="{% static 'js/animations.js' %}"></script> <!-- debug, testes e extras -->
    <script src="{% static 'js/battle_utils.js' %}"></script> <!-- funções de batalha -->
    <script src="{% static 'js/monster.js' %}"></script> <!-- funções dos monstros -->
    <script src="{% static 'js/player.js' %}"></script> <!-- funções do player -->
    <script src="{% static 'js/battle.js' %}"></script> <!-- logica de batalha -->
    <script src="{% static 'js/script.js' %}"></script> <!-- debug, testes e extras -->


</body>
</html>