<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Smogon</title>
    
</head>
<body>
    <div id="root">
        <header>
            smogon
        </header>
        <main>
            oi
        </main>
        <footer>
            <div class="stats-player__area">
                oi
            </div>
            
            <div class="opt-player__area">
                <div id="fight_option", class="options">
                    FIGHT
                </div>

                <div id="speel_option", class="options">
                    SPEELS
                </div>

                <div id="item_option", class="options">
                    ITEMS
                </div>

                <div id="run_option", class="options">
                    RUN
                </div>
            </div>
        </footer>
    </div>

    <script src="../../static/js/script.js"></script>
</body>
</html>